{% include 'header.html' %}

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">About</h1>
      <p>Bienvenidos a Libros Sebastian, una plataforma para gestionar y compartir información sobre libros y autores. Aquí puedes añadir, editar y eliminar libros, así como visualizar datos detallados de cada uno.</p>
      <p>Desarrollado por José Sebastián Llamas Valle, un entusiasta de la tecnología y la literatura. Si tienes alguna pregunta o comentario, no dudes en <a href="mailto:sebastianllamas83@gmail.com">contactarme</a>.</p>
      <h3>Contacto</h3>
      <p>Email: <a href="mailto:sebastianllamas83@gmail.com">sebastianllamas83@gmail.com</a></p>
      <p>Redes sociales: 
        <a href="#">Twitter</a> | 
        <a href="#">Facebook</a> | 
        <a href="#">LinkedIn</a>
      </p>
    </div>
  </div>
</div>

<!-- jQuery, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
